@charset "UTF-8";

* {

   margin: 0;
   padding: 0;
   
}

:root {

   --color1: #1d3d76;
   --color2: #b74e07;
   --color3: #597dbd;
   --color4: #f3cfb6;
   --color5: #f5f8fa;
   --color6: #fef6f8;
}

body {
   color: #1d3d76;
	font: 100% "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 20px;
   
}


/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



#container {

   background-image: url(../img/bg-bluebench.jpg) ;
   background-attachment: fixed;
   width: 90%;
   max-width: 950px;
   margin: 20px auto;
   padding: 30px 10px 0 0;

}

/* div #page */
#pagina {

   background-color: var(--color6);
   width: 97.9167%;
   max-width: 940px;
   padding: 10px 10px 10px 0;
}

/* div MASTERHEAD do livro */
header {

   margin-bottom: 30px;
   border-bottom: 2px dotted var(--color1);
   padding-bottom: 20px;
   
}

header div {

   float: right;
   position: relative;
}

.logo {

   float: left;
   font-size: 2.5em;
   margin: 0;
   
}

span {
	color: #1d3d76;
	display: block;
	font-size: 0.3em; /* 12px/40px */
	font-style: italic;
	font-weight: normal;
	margin: 3px 0 0 1em;	
}

nav {

   margin-top: 45px;
}

nav >ul li {

   float: left;
   font-size: .75em;
   padding: 0 25px 0 3px;
   
}

/* Busca */
form {

   position: absolute;
   top: 7px;
   right: 0;
}

/* div main */
#principal {

   width: 71%;
   float: left;
}

/* .entry do livro */
.sessao1, .sessao2, .sessao3 {

   margin: 0 .5em 2em 0;
   border-right: 2px dashed var(--color2);
}

/* float na class foto, assim juntamos o texto ao lado da foto. */
.foto {

   float: left;
}

.data {

   line-height: 1;
   margin: 0 2em 0 0;
   padding: 0;
   position: relative;
   top: -1em;
   text-align: end;
   
}
.sessao1 p, .sessao2 p, .sessao3 p {

   margin: -5px 0 0 110px;
   padding-right: 5px;
}

a {
   text-decoration: none;
   color: var(--color3);
}

a:hover {

   text-decoration: underline;
   padding: 3px;
   background-color: var(--color4);
   
}

h1 {

   font-size: 1.5em;
   margin-bottom: .75em;
   text-transform: lowercase;
   color: var(--color2);
}

h2 {

   color: var(--color2);
   font-size: 1.21em;
}

/* Configura o link continued, foi criado a class .continue em um paragrafo */
.continue {

   font-style: italic;
   padding-right: 5px;
   text-align: end;
   
}

.continue1 {

   text-align: end;
   font-size: .75em;
}

/* div #related */
aside {

   background-color: var(--color5);
   margin-left: 72%;
   padding: 10px;
}

aside p {

   font-size: .750em;
   padding: 2px 6px 5px 0;
   font-style: italic;
   
}

aside h2 {

   font-size: .9375em;
   margin-bottom: 3px;
   text-transform: lowercase;
   font-style: italic;
}

aside ol {

   list-style: disc;
   padding-left: 18px;
}

aside li {

   font-size: .75em;
   
}

.aside-more {

   text-align: end;
}

footer {

   margin-top: 10px;
   clear: both;
   border-top: 2px dotted var(--color2);
   list-style: none;
   
}

footer >ul {

   vertical-align: middle;
   
}

footer >ul li {

   display: inline;
}

footer p {

      font-size: .6875em;
      padding-top: 5px;
      padding-bottom: 10px;
      text-align: justify;
}

footer h2 {

   padding-top: 5px;
   font-size: 1.03em;
   color: var(--color2);
   
}